@import "../../assets/styles/variables.scss";

.formfield { display: inline-block; width: 100%; padding: 12px 20px; margin: 8px 0; border-radius: 4px;
  box-sizing: border-box; border: 1px solid #ccc; position: relative; color: $background-color;

  &__field { border: none; outline: none; background-color: transparent; }
  &__label { position: absolute; top: 50%; left: 2%; transform: translateY(-50%); transition: .35s; padding: 0 5px; }

  &__field:focus ~ &__label, &__label_active { top: 0; left: 0; font-size: 0.75rem;
    background-color: $light-white; color: $red;
  }
}