@use "@/assets/mixins" as *;

.page {
  @include light-theme("background");
  @include dark-theme("darkest-background");

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;

  &__form {
    z-index: 1;
    opacity: .9;
  }

  &__greeting {
    z-index: 1;
    font-size: 1.4rem;
  }
}