@import "../variables.scss";
@import "../mixins.scss";

.p-menu {
  border: 0;
  background-color: transparent;
  width: 100%;

  &[data-theme="dark"] {
    & .p-menuitem-link .p-menuitem-icon,
    & .p-menuitem-link .p-menuitem-text {
      color: map-get($dark-theme, "text-color");
      font-weight: 600;

      & .p-menuitem-link:hover {
        color: map-get($light-theme, "text-color");
      }
    }
  }

  &[data-theme="light"] {
    & .p-menuitem-link .p-menuitem-icon,
    & .p-menuitem-link .p-menuitem-text {
      color: map-get($light-theme, "text-color");
      font-weight: 600;

      & .p-menuitem-link:hover {
        color: map-get($dark-theme, "text-color");
      }
    }
  }
}

.p-menu .p-menuitem-link {
  transition: .3s;
  padding: 16px;
}
