@import "../variables.scss";
@import "../mixins.scss";

.p-toolbar {
  @include dark-theme("secondary-background");
  @include light-theme("secondary-background");
  border-radius: 0;
  border: none;

  &[data-theme="dark"] {
    box-shadow: 3px 3px 5px $martinique;
  }

  &[data-theme="light"] {
    box-shadow: 3px 3px 5px $safe;
  }
}