@import "@styles/variables.scss";

.form {
  &__field {
    position: relative;
    width: 100%;

    &-content {
      width: 100%;
    }

    &-error {
      position: absolute;
      left: 4px;
      bottom: -50%;
      font-size: 10px;
      color: crimson;
    }
  }
}