@use "@/assets/mixins" as *;

.page {
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    gap: 64px;

    & > * {
      flex: 1;
      position: relative;
    }
  }

  &__generator,
  &__description {
    margin-top: 32px;
  }

  &__subdescription {
    margin-top: 14px;
  }

  &__title {
    text-align: center;
  }

  &__wrapper {
    box-shadow: 2px 2px 15px darkslateblue;
    overflow: hidden;
    border-radius: 4px;
  }
}

@include small-desktop-display {
  .page__content {
    flex-direction: column;
    gap: 32px;
  }

  .page__wrapper {
    margin-top: 0;
  }
}

@include mobile-display {
  .page__content {
    gap: 14px;
  }
}