@use "../variables" as *;

.p-button {
  background: $button;
  border-color: $button;

  &:enabled:hover {
    background: $button;
    border-color: $button;
    opacity: 0.75;
  }

  &.p-button-outlined.p-button-danger {
    color: $red;
    background: inherit;
    border-color: $red;
  }
}