@import "../variables";

.p-inputswitch[aria-checked="true"] .p-inputswitch-slider {
  transition: 0.4s;
  background: $switcher;
}

.p-inputswitch[aria-checked="true"]:not(.p-disabled):hover .p-inputswitch-slider {
  background: $switcher;
  opacity: 0.7;
}