@import "../variables";
@import "../mixins";

.p-menu {
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 100%;

  &[data-theme="Light"] {
    & .p-menuitem-content .p-menuitem-icon,
    & .p-menuitem-content .p-menuitem-text {
      transition: .3s;
      color: map-get($light-theme, "text-color");
      font-weight: 600;
    }
  }

  &[data-theme="Dark"] {
    & .p-menuitem-content .p-menuitem-icon,
    & .p-menuitem-content .p-menuitem-text {
      transition: .3s;
      color: map-get($dark-theme, "text-color");
      font-weight: 600;
    }

    & .p-menuitem-content:hover .p-menuitem-icon,
    & .p-menuitem-content:hover .p-menuitem-text {
      color: map-get($light-theme, "text-color");
    }
  }

  & .p-menuitem-content {
    transition: .3s;
    padding: 0;
  }

  & .p-menuitem-link {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
