@use "../variables" as *;
@use "../mixins";

.p-toolbar {
  @include mixins.dark-theme("background");
  @include mixins.light-theme("background");
  
  border-radius: 0;
  border: none;

  &[data-theme="Dark"] {
    box-shadow: 1px 1px 5px $martinique;
  }

  &[data-theme="Light"] {
    box-shadow: 1px 1px 5px $safe;
  }

  & .p-input-icon-left .pi.pi-search {
    color: $dark;
    top: 32%;
    right: 5%;
  }
}