@import "../../assets/styles/variables.scss";

.layout { display: flex; min-height: 100%;
  &__sidebar { flex: 1; transition: 0.3s ease-out; display: flex; flex-direction: column; min-width: 50px;
    align-items: flex-start; padding-top: 15px; overflow: hidden; position: sticky; top: 0; height: 100%;

    &_open { flex: 3;
      & .layout__icon-button__text { opacity: 1; position: static; }
    }
  }

  &__content { flex: 25; padding: 25px; border-left: 1px solid $light; }

  &__icon-button { transition: 0.3s ease-in; display: flex; color: white; font-size: 0.7rem;
    align-items: center; justify-content: center; width: 100%; position: relative;

    &__text { position: absolute; overflow: hidden; transition: ease-in; opacity: 0; transition: .5s; right: -150% }
    &_open { transform: rotate(180deg); }

    &:not(:first-child) { justify-content: space-between; }
  }


  @media (max-width: 1200px) {
    &__icon-button:first-child { display: none; }
    &__sidebar {
      &_open { flex: 1;
        & .layout__icon-button__text { opacity: 0; position: absolute; }
      }
    }
  }
}
