@use "@/assets/mixins" as *;
@use "@/assets/variables" as *;

.content {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 16px;
}

@include mobile-display {
  .content {
    padding: 16px 8px;
  }
}