@import "../../assets/styles/variables.scss";

.icon { display: block; -webkit-mask-size: contain; -webkit-mask-repeat: no-repeat; -webkit-mask-position: center; line-height: 1rem;

  &__calendar { -webkit-mask-image: url(../../assets/icons/calendar.svg); }
  &__add { -webkit-mask-image: url(../../assets/icons/add.svg); }
  &__double-arrow { -webkit-mask-image: url(../../assets/icons/double-arrow.svg); }
  &__arrow-forward { -webkit-mask-image: url(../../assets/icons/arrow-forward.svg); }
  &__arrow-back { -webkit-mask-image: url(../../assets/icons/arrow-back.svg); }
  &__close { -webkit-mask-image: url(../../assets/icons/close.svg); }
  &__delete { -webkit-mask-image: url(../../assets/icons/delete.svg); }

  &_white { background-color: white; }
  &_black { background-color: black; }
  &_light { background-color: $light; }
  &_red { background-color: $red; }

  &_large { width: 35px; height: 35px; }
  &_medium { width: 25px; height: 25px; }
  &_small { width: 15px; height: 15px; }
}