@import "@/assets/variables";
@import "@/assets/mixins";

.page {
  @include light-theme("background");

  overflow: hidden;

  &[data-theme="dark"] {
    background-color: #000;
    color: #fff;
  }
  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    font-weight: 600;
    text-align: center;
  }

  &__title {
    font-size: 3.25rem;
    line-height: 36px;
  }
}