.page {  
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    font-weight: 600;
    text-align: center;
    z-index: 1;
  }

  &__title {
    font-size: 3.25rem;
    line-height: 36px;
  }
}