.shapes {
  position: absolute;
  top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;

  &__shape {
    border-radius: 9999px;
    position: relative;
    opacity: .5;
    filter: blur(90px);
    filter: blur(90px);
    transform: translate3d(0, 0, 0);

    &_one {
      width: 400px;
      height: 400px;
      animation: shape-one-animation 12s infinite;
      background-color: rgb(255 72 173);
    }

    &_two {
      width: 325px;
      height: 325px;
      animation: shape-two-animation 10s infinite;
      background-color: rgb(30 0 255);
    }

    &_three {
      width: 250px;
      height: 250px;
      animation: shape-one-animation 7s infinite;
      background-color: rgb(140 0 215);
    }
  }
}

@keyframes shape-one-animation {
  0% {
    left: 0;
    top: 0;
  }

  25% {
    left: -120px;
    top: 80px;
  }

  50% {
    left: 10px;
    top: 170px;
  }

  75% {
    left: 50px;
    top: 100px;
  }

  100% {
    left: 0;
    top: 0;
  }
}

@keyframes shape-two-animation {
  0% {
    left: 0;
    top: 0;
  }

  25% {
    left: 70px;
    top: 10px;
  }

  50% {
    left: 50px;
    top: 100px;
  }

  75% {
    left: 10px;
    top: 70px;
  }

  100% {
    left: 0;
    top: 0;
  }
}