@import "@/assets/variables";
@import "@/assets/mixins";

.list {
  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
    width: 50%;
    justify-content: space-between;
    flex-wrap: wrap;

    & > * {
      flex-grow: 1;
      flex-basis: 0;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  &__buttons {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__button {
    flex: 1;
  }
}

@include tablet-display {
  .list {
    &__item {
      width: 100%;
    }

    &__title {
      text-align: center;
    }
  }
}

@include mobile-display {
  .list__buttons {
    flex-basis: 100%;
  }
}