@import "@styles/variables";
@import "@styles/mixins";

.sidebar {
  @include dark-theme("secondary-background");
  @include light-theme("secondary-background");

  &__logo {
    font-size: 2.4rem;
    font-weight: 600;
    font-family: monospace;
    padding: 16px 0;
    text-align: center;
    cursor: pointer;
  }

  &__menu {
    margin-top: 24px;

    :global(.p-menuitem-text) {
      font-size: 1.15rem;
    }
  }

  :global(.p-sidebar-content) {
    padding: 0 !important;
  }

  &__theme {
    &-menu {
      margin-top: 24px;
      padding: 0 16px;
    }

    &-switcher {
      margin-top: 8px;
      display: flex;
      align-items: center;
      gap: 14px;
      font-size: 12px;
      font-style: italic;
    }
  }
}