@use './variables';
@use './components/index';

@import "primeicons/primeicons.css";
@import "primereact/resources/themes/lara-light-cyan/theme.css";

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-size: variables.$fonts;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}