@import './variables';

@mixin dark-theme($background) {
  &[data-theme="Dark"] {
    color: map-get($dark-theme, "text-color") !important;
    background-color: map-get($dark-theme, $background) !important;
  }
}

@mixin light-theme($background) {
  &[data-theme="Light"] {
    color: map-get($light-theme, "text-color") !important;
    background-color: map-get($light-theme, $background) !important;
  }
}