// Colors
$white: #f6f6f6;
$light: #C1C7F3;
$martinique: #202020;
$dark: #2f2f2f;
$zircon: #FAFBFF;

$red: #d0312d;
$blue: #0066CC;

// $dark: #2D2F39;
$dark-text: #555555;
// $grey: #8A8C91;
// $black: #161A23;

$dark-theme: (
  "text-color": $white,
  "secondary-background": $martinique,
  "background": $dark
);

$light-theme: (
  "text-color": $dark,
  "secondary-background": $light,
  "background": $zircon
);

// Fonts
$fonts: 14px;