// Colors
$white: #f6f6f6;
$light: #C1C7F3;
$martinique: #202020;
$dark: #2f2f2f;
$zircon: #f8f7f4;
$dark-text: #555555;

$red: #d0312d;
$blue: #0066CC;

$dark-theme: (
  "text-color": $white,
  "secondary-background": $martinique,
  "background": $dark
);

$light-theme: (
  "text-color": $dark,
  "secondary-background": $light,
  "background": $zircon
);

// Fonts
$fonts: 14px;