@import "@styles/variables.scss";

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 12px;

  &__content {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &__icon {
    font-size: 46px !important;
  }
}