@import "@/assets/variables";
@import "@/assets/mixins";

.page {
  @include light-theme("background");
  @include dark-theme("darkest-background");

  min-height: 100vh;

  &__button {
    margin-top: 32px;
  }
}

@include tablet-display {
  .page__button {
    display: block;
    width: 100%;
  }
}